node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Build files
dist/
build/

# Dependencies lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
coverage/
.nyc_output/
debug.log

# Docker
docker-compose.override.yml